
<div id='bg' class='bg'>
	
</div>


<div id='lcd' class='lcd'>
</div>


<div id='lcdcontents'>
	<span id='lcdtext'>Level</span>
	<span id='lcdmovestext'>Moves</span>
	<span id='lcdlevelcounttext'>1</span>
	<span id='lcdmovescounttext'>0</span>
</div>

<div id='lcdoverlay' class='lcdoverlay' onClick="toggleLevelSelect()">
</div>

<div id='lcdlevelselectoverlay' class='lcdlevelselectoverlay' onClick="toggleLevelSelect()">
	<div id='lcdlevelselectbuttonleft' class='lcdlevelselectbuttonleft' onClick="decrementLevel()"></div>
	<div id='lcdlevelselectbuttonright' class='lcdlevelselectbuttonright' onClick="incrementLevel()"></div>
	
	<span id='lcdlevelselectcounttext'>1</span>
	
</div>

<div class='button' id='button' onClick='begin()'></div>
